Your Selections:<br>
  <a [routerLink]="['/paths']">{{ path.name }}</a>
  > <a [routerLink]="['/paths', path.slug, 'steps']"> {{ selectedStepBreadcrumbLabel }}</a>
  > Select Tasks
  <span [hidden]="matchingTools.length==0">
  > Your Tool Matches
  </span>
<br><br>

<p>What do you need help doing with Ecosystem Services (ES)?</p>

<div class="grid-row grid-gap">
  <div class="grid-col-5">
    <form [formGroup]="form" #espForm="ngForm">
      <mat-card style="min-height: 300px;">
        <mat-card-content>
          <section class="section">
            <div formArrayName="steps">
              <ul class="task-list">
                <li *ngFor="let step of this.stepFormArray.controls; let i = index" [formGroupName]="i" class="step  margin-bottom-3">
                  <div style="display:flex; flex-direction: row; width: 100% !important;">
                    <div style="width: 75%;">
                      <mat-card-title>{{ step.value.name }}</mat-card-title>
                    </div>
                    <div style="width: 25%; text-align: right;">
                      <mat-checkbox id="step{{ i }}" formControlName="checked" labelPosition="before" color="primary">
                        Select All
                      </mat-checkbox>
                    </div>
                  </div>
                  <div formArrayName="tasks">
                    <ul class="task-list">
                      <li *ngFor="let task of getStepTaskArray(i).controls; let j = index" [formGroupName]="j"
                          class="task">
                        <mat-checkbox id="task{{ i }}-{{ j }}" formControlName="checked" color="primary" (change)="setSelectedTaskIds()">
                          {{ task.value.name }}
                        </mat-checkbox>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <div class="grid-col-7">
    <app-tools (selectToolEvent)="selectTool($event)" [matchingTools]="matchingTools"></app-tools>
  </div>
</div>
<button class="usa-button margin-top-3" [routerLink]="['/paths', path.slug, 'steps']">< Back</button>
