Your Selections:<br>
<a [routerLink]="['/paths']" tabindex="0">ES Portal Home</a>
> <a [routerLink]="['/paths', path.slug, 'steps']" tabindex="0"> {{ path.name }}: {{ selectedStepBreadcrumbLabel }}</a>
> Select Tasks
<span [hidden]="matchingTools.length==0">
  > Your Tool Matches
  </span>
<br><br>

<h2>What do you need help doing with Ecosystem Services (ES)?</h2>

<div class="grid-row grid-gap">
  <div class="desktop:grid-col-5 margin-bottom-2">
    <form [formGroup]="form" #espForm="ngForm" [ngClass]="path.slug">
      <mat-card style="min-height: 300px;">
        <mat-card-content>
          <section class="section">
            <div formArrayName="steps">
              <ul class="task-list">
                <li *ngFor="let step of this.stepFormArray.controls; let i = index" [formGroupName]="i"
                    class="step  margin-bottom-3">
                  <div style="display:flex; flex-direction: row; width: 100% !important;">
                    <div style="width: 75%;">
                      <mat-card-title>{{ step.value.name }}</mat-card-title>
                    </div>
                    <div style="width: 25%; text-align: right;">
                      <mat-checkbox id="step{{ i }}" formControlName="checked" labelPosition="before" color="primary">
                        Select All
                      </mat-checkbox>
                    </div>
                  </div>
                  <div formArrayName="tasks">
                    <ul class="task-list">
                      <li *ngFor="let task of getStepTaskArray(i).controls; let j = index" [formGroupName]="j"
                          class="task">
                        <mat-checkbox id="task{{ i }}-{{ j }}" formControlName="checked" color="primary"
                                      (change)="setSelectedTasks()">
                          {{ task.value.name }}
                        </mat-checkbox>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </section>
        </mat-card-content>
      </mat-card>
    </form>

    <div class="margin-top-3 margin-bottom-3 display-none desktop:display-block" [ngClass]="path.slug">
      <button mat-raised-button [ngClass]="'usa-button'" [routerLink]="['/paths', path.slug, 'steps']" color="primary">< Back </button>
    </div>

  </div>
  <div class="desktop:grid-col-7">
    <app-task-tools (selectToolEvent)="selectTool($event)"
                    [matchingTools]="matchingTools"
                    [hidden]="matchingTools.length==0"
                    [path]="path"></app-task-tools>
  </div>
</div>

<div class="margin-top-3 margin-bottom-3 display-block desktop:display-none" [ngClass]="path.slug">
  <button mat-raised-button [ngClass]="'usa-button'" [routerLink]="['/paths', path.slug, 'steps']" color="primary">< Back </button>
</div>

<div class="grid-row">
  <div class="grid-col">
    <app-progress-bar [matchingTools]="matchingTools" [ngClass]="path.slug"></app-progress-bar>
  </div>
</div>
