<h2 mat-dialog-title>Matching Tools for all {{path.name}} Steps</h2>
<mat-dialog-content class="mat-typography">
        <div class="grid">
          <div [class]="'grid-row ' + path.slug">
            <div class="grid-col item"><b>{{path.name}} Step</b></div>
            <div class="grid-col item"><b>Tool Name</b></div>
            <div class="grid-col item"><b>Task Label</b></div>
          </div>
          <ng-container *ngFor="let tool of this.matchingTools; let i = index">
            <div [class]="'grid-row row-' + i">
              <div [class]="'grid-col item ' + path.slug + '-' + ((tool.matching_step.id - offset) + 1)"
                   [innerHTML]="(tool.matching_step.id - offset) + ' - ' + tool.matching_step.name">

              </div>
              <div [class]="'grid-col item ' + ((i % 2 == 0) ? 'even' : path.slug + '-light')"
                   [innerHTML]="tool.short_name">
              </div>
              <div [class]="'grid-col item ' + ((i % 2 == 0) ? 'even' : path.slug + '-light')"
                   [innerHTML]="tool.matching_task.name">
              </div>
            </div>
          </ng-container>
        </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
