h4 {
  border-radius: .25em;
  text-align: center;
  padding-top: 8px;
}

div.grid {
  font-size: 16px;
  line-height: 25px;
}

div.grid > div.grid-row {
  padding-left: .25em;
  padding-right: .25em;
}

div.item {
  border: solid 1px #cccccc !important;
  padding: .33em;
}
