<div id="matchingTools"  class="grid-row">
  <div class="grid-col-12">
  <h4 [ngClass]="path.slug">Your Tool Matches</h4>
    <div>
      Click on a matched tool to view details,
      or view <app-path-tools></app-path-tools>
    </div>
  </div>
  <div class="grid-col-12">
    <div class="grid mat-typography">
      <div [class]="'grid-row'">
        <div [class]="'grid-col item ' + path.slug + '-light'"><b>Process Phase</b></div>
        <div [class]="'grid-col item ' + path.slug + '-light'"><b>Recommended Ecosystem Services Tools</b></div>
      </div>
      <ng-container *ngFor="let tool of this.matchingTools; let i = index">
        <div class="grid-row">
          <div class="grid-col"
               [class]="'grid-col item ' + ((i % 2 == 0) ? 'even' : path.slug + '-light')"
               [innerHTML]="tool.matching_step.name"></div>
          <div class="grid-col"
               [class]="'grid-col item ' + ((i % 2 == 0) ? 'even' : path.slug + '-light')">
            <a rel="script" href="javascript:" (mousedown)="openDialog(tool)" (keydown.enter)="openDialog(tool)" [innerHTML]="tool.name"></a>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="grid-col-12 margin-top-3 margin-bottom-3">
      <a href="https://www.epa.gov/eco-research/forms/contact-us-about-ecosystems-research">Contact us</a> to let us know if you have additional tool needs not addressed by
      these tools or to submit ideas for future tools. This Portal includes a limited selection of curated tools.
      Please contact us to suggest including additional tools for specific phases and tasks.
    </div>
  </div>
</div>

