<mat-dialog-actions align="end" [ngClass]="path.slug">
  <button mat-raised-button mat-dialog-close color="primary">
    < Return To Decision Path
  </button>
  <button mat-raised-button color="primary" (click)="selectTool(tool)">
    Open in New Window >
  </button>
</mat-dialog-actions>
<br>
<app-tool-detail [dialogTool]="tool" [dialogPath]="path"></app-tool-detail>

<mat-dialog-actions align="end" [ngClass]="path.slug">
  <button mat-raised-button mat-dialog-close color="primary">
    < Return To Decision Path
  </button>
  <button mat-raised-button color="primary" (click)="selectTool(tool)">
    Open in New Window >
  </button>
</mat-dialog-actions>
