a.pathway {
  flex: 1 1 100%;
  width: 80%;
  line-height: 80px;
  font-size: medium;
  margin-bottom: 15px;
  text-align: center;
  //border: solid; //#469f39 #0071bc
  border-radius: 1em;
}

//a.pathway b {
//  margin-left: -8px;
//}

a.pathway:visited { color: #000000}

//rect.step4 {
//  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
//}

.mat-icon-button {
  vertical-align: top;
}
