@use '@angular/material' as mat;

#main-content {
  display: flex;
  flex: 1 1 100%;
  overflow: hidden;

  ::ng-deep .section-heading {
    font-size: x-large;
    font-weight: bold;
  }

  :host {
    height: 100%;
    min-height: 550px;

    display: flex;
    flex-direction: column;
  }

  .mat-icon-button {
    background-color: #ffffff !important;
  }

  .mat-raised-button {
    @include mat.elevation(8);
  }
}

