<div
  class="usa-step-indicator usa-step-indicator--counters"
  aria-label="progress"
>
  <ol class="usa-step-indicator__segments">
    <li class="usa-step-indicator__segment" [ngClass]="step1_class">
      <span class="usa-step-indicator__segment-label">Step 1</span>
    </li>
    <li class="usa-step-indicator__segment" [ngClass]="step2_class">
      <span class="usa-step-indicator__segment-label">Step 2</span>
    </li>
    <li class="usa-step-indicator__segment" [ngClass]="step3_class">
      <span class="usa-step-indicator__segment-label">Step 3</span>
    </li>
    <li class="usa-step-indicator__segment" [ngClass]="step4_class">
      <span class="usa-step-indicator__segment-label">Matching Tools</span>
    </li>
  </ol>
</div>
