<div
  [mdePopoverTriggerFor]="appPopover"
  mdePopoverPositionX="after"
  mdePopoverPositionY="above"
  mdePopoverTriggerOn="click"
  #popoverTrigger="mdePopoverTrigger"
  class="usa-step-indicator usa-step-indicator--counters"
  aria-label="progress">
  <ol class="usa-step-indicator__segments" aria-hidden="true">
    <li class="usa-step-indicator__segment"
        [ngClass]="'usa-step-indicator__segment--' + step1_status"
        [attr.aria-current]="step1_status=='current'">
        <span class="usa-step-indicator__segment-label"
              [attr.aria-label]="'Step 1 Select Path ' + step1_status">Step 1: Select Path</span>
    </li>
    <li class="usa-step-indicator__segment"
        [ngClass]="'usa-step-indicator__segment--' + step2_status"
        [attr.aria-current]="step2_status=='current'">
        <span class="usa-step-indicator__segment-label"
              [attr.aria-label]="'Step 2: Select Process Phases ' + step2_status">Step 2: Select Process Phases</span>
    </li>
    <li class="usa-step-indicator__segment"
        [ngClass]="'usa-step-indicator__segment--' + step3_status"
        [attr.aria-current]="step3_status=='current'">
      <span class="usa-step-indicator__segment-label"
            [attr.aria-label]="'Step 3 Select Tasks ' + step3_status">Step 3: Select Tasks</span>
    </li>
    <li class="usa-step-indicator__segment"
        [ngClass]="'usa-step-indicator__segment--' + step4_status"
        [attr.aria-current]="step4_status=='current'">
      <span class="usa-step-indicator__segment-label"
            [attr.aria-label]="'Step 4 View Matching Tools ' + step4_status">Step 4: View Matching Tools</span>
    </li>
  </ol>
</div>
<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card style="max-width: 300px">
    <mat-card-content>Please select one of the options above to progress to the next step.</mat-card-content>
  </mat-card>
</mde-popover>
