<div id="matchingTools" [hidden]="matchingTools.length==0">
  <h4>Your Tool Matches</h4>
  <div class="grid-col-12 margin-top-3">
    <div class="grid mat-expansion-panel">
      <div>
        Click on a matched tool to view details.
      </div>
      <div class="grid-row">
        <div class="grid-col-6"><b>Process Phase</b></div>
        <div class="grid-col-6"><b>Recommended Ecosystem Services Tools</b></div>
      </div>
      <ng-container *ngFor="let tool of this.matchingTools">
        <div class="grid-row">
          <div class="grid-col-6">{{tool.matching_step_name}}</div>
          <div class="grid-col-6">
            <a rel="href" href="javascript:" (click)="selectToolEvent.emit(tool)">{{tool.short_name}}</a>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="grid-col-12 margin-top-6">
      <a [routerLink]="['/paths']">Contact us</a> to let us know if you have additional tool needs not addressed by
      these tools or to submit ideas for future tools.
    </div>
  </div>
</div>

