.mat-table {
  width: 100% !important;
}

.mat-header-cell {
  font-weight: bold;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 14px;
  color: black;
  line-height: 25.44px;
  padding-left: 24px;
  padding-right: 24px;
}

.mat-row .mat-cell {
  padding-left: 24px;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}
