div.grid {
  width: 100%;
  border: 12px solid #e0e0e0;
}

div.grid > div.grid-row:nth-of-type(even) {
  background: #e0e0e0;
}

.grid > .grid-row {
  padding: .5em;
}

mat-accordion mat-expansion-panel-header {
  //background: #e0e0e0;
  min-height: 32px !important;
}

mat-accordion mat-expansion-panel-header.mat-expanded {
  min-height: 32px !important;
  white-space: normal !important;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

mat-accordion div.mat-expansion-panel-body {
  line-height: 32px !important;
  padding: 4px 24px 4px 48px !important;
  white-space: normal !important;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
}
