<ng-template [ngIf]="task" [ngIfElse]="noSelection">
  <div>
    Your Selections:<br>
    <a [routerLink]="['/paths']">ES Portal Home</a> >
    <a [routerLink]="['/paths', path.slug, 'steps']" [innerHTML]="path.name + ': ' + step.name"></a> >
    <a [routerLink]="['/paths', path.slug, 'steps','tasks']" [innerHTML]="task.name"></a> >
    <span [innerHTML]="tool.short_name"></span>
  </div>
</ng-template>
<ng-template #noSelection>
<!--  <ng-template [ngIf]="!dialogTool">-->
    <h2>{{tool.short_name}}</h2>
<!--  </ng-template>-->
</ng-template>

<div class="grid-row margin-top-6 margin-bottom-3">
  <div class="grid-col-12" [innerHTML]="tool.description"></div>
</div>

<div [ngClass]="path?.slug">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col margin-bottom-2">
      <mat-accordion multi="true">
        <div *ngFor="let pathStep of this.pathSteps">
          <ng-container *ngIf="pathStep.related_steps.length > 0">
            <mat-expansion-panel [expanded]="path && pathStep.id === path.id">
              <mat-expansion-panel-header [ngClass]="pathStep.slug" class="mat-expansion-panel-spacing">Steps in {{pathStep.name}} this Tool is Suited for
              </mat-expansion-panel-header>
              <div *ngFor="let step of pathStep.related_steps; let i = index">
              <span class="text-green">
                <svg class="usa-icon" aria-hidden="true" role="img">
                  <use xlink:href="/assets/sprite.svg#check_circle"></use>
                </svg>
              </span>
                {{step}}
              </div>
            </mat-expansion-panel>
          </ng-container>
        </div>
      </mat-accordion>
    </div>
    <div class="tablet:grid-col" style="text-align: center">
      <a href="{{tool.url}}" target="_blank"><img src="{{'/assets/images/' + tool.image_file}}"
                                                  alt="{{tool.name}}"></a>
    </div>
  </div>
  <div class="grid-row margin-top-3 margin-bottom-3">
    <div class="grid mat-expansion-panel margin-bottom-3">
      <ng-container *ngFor="let col1 of this.objectKeys(this.tool.detail)">
        <ng-container *ngFor="let value of this.tool.detail[col1]; let i = index">
          <div class="grid-row">
            <ng-template [ngIf]="i == 0" [ngIfElse]="emptyDiv">
              <div class="grid-col-3"><b>{{col1}}</b></div>
            </ng-template>
            <ng-template #emptyDiv>
              <div class="grid-col-3"></div>
            </ng-template>
            <ng-template [ngIf]="col1 == 'Level of effort needed:'" [ngIfElse]="fullWidthDiv">
              <ng-template [ngIf]="value[0] == 'Tool Orientation'" [ngIfElse]="htmlDiv">
                <div class="grid-col-4">
                  {{value[0]}}
                  <span [mdePopoverTriggerFor]="orientationPopover"
                        mdePopoverPositionX="after" mdePopoverPositionY="above"
                        mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
                    <img style="vertical-align: text-top;" id="orientation-icon" alt="information icon"
                         src="assets/info-circle.svg">
                  </span>
                  <mde-popover #orientationPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
                    <mat-card style="max-width: 300px">
                      <mat-card-content>
                        Sufficient exploration with the tool for a general user to become familiar with the basic
                        elements of the tool and its potential use or application.
                      </mat-card-content>
                    </mat-card>
                  </mde-popover>
                </div>
              </ng-template>
              <ng-template #htmlDiv>
                <div class="grid-col-4" [innerHTML]="value[0]"></div>
              </ng-template>
              <div class="grid-col-5" [innerHTML]="value[1]"></div>
            </ng-template>
            <ng-template #fullWidthDiv>
              <div class="grid-col-9" [innerHTML]="value"></div>
            </ng-template>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <ng-template [ngIf]="!dialogTool">
    <ng-template [ngIf]="path" [ngIfElse]="noPathSelection">
      <button mat-raised-button [ngClass]="'usa-button'" [routerLink]="['/paths', path.slug, 'steps','tasks']" color="primary">
        < Return To Decision Path
      </button>
    </ng-template>
    <ng-template #noPathSelection>
      <button mat-raised-button [ngClass]="'usa-button'" [routerLink]="['/paths']" color="primary">
        < Return To Decision Path
      </button>
    </ng-template>
  </ng-template>
</div>
