<ng-template [ngIf]="task">
  <div class="grid-row grid-gap">
    <div>Your Selections:</div>
    <div>
      Path: <a [routerLink]="['/paths']" class="margin-2 ">{{ path.name }}</a> >
      <div class="margin-left-3">
        Step: <a [routerLink]="['/paths', path.slug, 'steps']" class="margin-2">{{ step.name }}</a> >
      </div>
      <div class="margin-left-6">
        Task: <a [routerLink]="['/paths', path.slug, 'steps','tasks']" class="margin-2"> {{ task.name }}</a> >
      </div>
    </div>
  </div>
</ng-template>

<h2>{{tool.name}}</h2>

<div class="grid-row margin-top-3">
  <div class="grid-col-12" [innerHTML]="tool.description"></div>
</div>

<div class="margin-top-3">
  <div class="grid-row grid-gap">
    <div class="grid-col-6">
      <mat-accordion multi="true">
        <div *ngFor="let pathStep of this.pathSteps">
          <mat-expansion-panel [expanded]="pathStep.id == path.id">
            <mat-expansion-panel-header>Steps in {{pathStep.name}} this Tool is Suited For
            </mat-expansion-panel-header>
            <div *ngFor="let step of pathStep.related_steps; let i = index">
              <span class="text-green">
                <svg class="usa-icon" aria-hidden="true" role="img">
                  <use xlink:href="/assets/sprite.svg#check_circle"></use>
                </svg>
              </span>
              {{step}}
            </div>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
    <div class="grid-col-6" style="text-align: center">
      <a href="{{tool.url}}" target="_blank"><img src="{{'/assets/images/' + tool.image_file}}"
                                                  alt="{{tool.name}}"></a>
    </div>
  </div>
  <div class="grid-row grid-gap margin-top-3">
    <span [innerHTML]="toolDetails"></span>
  </div>
</div>
