<div class="grid-row">
  <div class="grid-col-6">
    Your Selections:<br>
    <a [routerLink]="['/paths']">{{ path.name }}</a> > Select Process Phases<br><br>
    <p>I want help incorporating Ecosystem Services into...</p>

    <form [formGroup]="form" [ngClass]="path.slug">
      <ul>
        <ng-container formArrayName="steps" *ngFor="let step of this.stepFormArray.controls; let i = index"
                      class="step">
          <li [formGroupName]="i">
            <mat-checkbox id="step{{i}}" formControlName="checked" color="primary">
              {{ step.value.name }}
            </mat-checkbox>
            <a mat-icon-button [mdePopoverTriggerFor]="appPopover"
               mdePopoverPositionX="after"
               mdePopoverPositionY="above"
               mdePopoverTriggerOn="click"
               #popoverTrigger="mdePopoverTrigger">
              <img alt="information icon" src="assets/info-circle.svg">
            </a>
            <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
              <mat-card style="max-width: 300px">
                <mat-card-content [innerHTML]="step.value.rationale"></mat-card-content>
              </mat-card>
            </mde-popover>
          </li>
        </ng-container>
      </ul>
      <button mat-flat-button [ngClass]="'usa-button'"  [routerLink]="['/paths']" color="primary">< Back</button>
      <button mat-flat-button [ngClass]="'usa-button margin-left-1'" [disabled]="!form.valid" (click)="submit()" color="primary">Next ></button>
    </form>
    <div class="grid-col-12">&nbsp;</div>
    <div class="grid-row grid-col-12" [innerHTML]="path.moreinfo"></div>
    <div class="grid-col-12">&nbsp;</div>
    <div class="grid-col-12">
      <app-progress-bar></app-progress-bar>
    </div>
  </div>
  <div class="grid-col-6 {{path.slug}}">
    <img src="assets/images/{{path.slug}}.png" alt="{{path.name}} process illustration">
  </div>
</div>


