Your Selections:<br>
<a [routerLink]="['/paths']">{{ path.name }}</a> > Select Process Phases<br><br>
<p>I want help incorporating Ecosystem Services into...</p>

<form [formGroup]="form">
  <ul>
    <ng-container formArrayName="steps" *ngFor="let step of this.stepFormArray.controls; let i = index" class="step">
      <li [formGroupName]="i" >
        <mat-checkbox id="step{{i}}" formControlName="checked" color="primary">
          {{ step.value.name }}
        </mat-checkbox>
        <button mat-icon-button [mdePopoverTriggerFor]="appPopover"
                mdePopoverTriggerOn="click"
                #popoverTrigger="mdePopoverTrigger">
          <img alt="information icon" src="assets/info-circle.svg">
        </button>
        <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
          <mat-card style="max-width: 300px">
            <mat-card-content [innerHTML]="step.value.rationale"></mat-card-content>
          </mat-card>
        </mde-popover>
      </li>
    </ng-container>
  </ul>
  <button mat-stroked-button color="primary" [routerLink]="['/paths']">< Back</button>
  <button mat-stroked-button color="primary" [disabled]="!form.valid" (click)="submit()">Next ></button>
</form>
<p><br></p>
<p [innerHTML]="path.moreinfo"></p>


