<div class="grid-row grid-gap">
  <div class="grid-col">
    Your Selections:<br>
    <a [routerLink]="['/paths']" tabindex="0">ES Portal Home</a> > {{ path.name }}: Select Process Phases<br><br>
  </div>
</div>
<div class="grid-row grid-gap">
  <div class="tablet:grid-col-6">
    <h2>I want help incorporating Ecosystem Services into...</h2>
    <form [formGroup]="form" [ngClass]="path.slug">
      <ul>
        <ng-container formArrayName="steps" *ngFor="let step of this.stepFormArray.controls; let i = index"
                      class="step">
          <li [formGroupName]="i">
            <mat-checkbox id="step{{i}}" formControlName="checked" color="primary">
              {{ step.value.name }}
            </mat-checkbox>
            <a mat-icon-button [mdePopoverTriggerFor]="appPopover"
               mdePopoverPositionX="after"
               mdePopoverPositionY="above"
               mdePopoverTriggerOn="click"
               #popoverTrigger="mdePopoverTrigger"
               (keyup.enter)="openAppPopover(i);">
            <img alt="Additional Information" src="assets/info-circle.svg" tabindex="0">
            </a>
            <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
              <mat-card style="max-width: 300px">
                <mat-card-content [innerHTML]="step.value.rationale"></mat-card-content>
              </mat-card>
            </mde-popover>
          </li>
        </ng-container>
      </ul>
      <button mat-raised-button [ngClass]="'usa-button'" [routerLink]="['/paths']" color="primary" tabindex="0" aria-label="Back">< Back</button>
      <button mat-raised-button [ngClass]="'usa-button margin-left-1'" [disabled]="!form.valid" (click)="submit()" tabindex="0" aria-label="Next"
              color="primary">Next >
      </button>
    </form>
    <div class="grid-col-12">&nbsp;</div>
    <div class="grid-col-12" [innerHTML]="path.moreinfo"></div>
  </div>
  <div class="tablet:grid-col-6 {{path.slug}}">
    <img src="assets/images/{{path.slug}}.jpg" alt='{{path.name}} process diagram - for a description visit {{path.moreinfourl}}'>
  </div>
</div>

<div class="grid-row margin-top-3">
  <div class="grid-col">
    <app-progress-bar [ngClass]="path.slug"></app-progress-bar>
  </div>
</div>
