@import "~@angular/material/prebuilt-themes/indigo-pink.css";

app-root {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
}

input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus,
button:not([disabled]):focus,
mat-card-content a {
  outline: none !important;
}

