@use '@angular/material' as mat;
@use '@angular/material/theming' as theming;
@import 'theme.scss';


app-root {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
}

input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus,
button:not([disabled]):focus,
a:not([disabled]):focus,
mat-card-content a {
  outline: none !important;
}

mat-card-content a {
  font-weight: bold !important;
}

mat-card, mat-dialog-container {
  background-color: white;
  border: 1px solid;
  border-radius: 1em;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

button.mat-flat-button, button.mat-raised-button {
  font-family: Source Sans Pro Web, "Noto Sans Arabic", "Noto Sans BN homepage", "Noto Sans GU homepage", "Noto Sans KR homepage", "Noto Sans SC homepage", "Noto Sans BN", "Noto Sans GU", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "Helvetica Neue", Helvetica, Arial, sans;
  font-size: 1.06rem;
  line-height: .9;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-right: .5rem;
  padding: .75rem 1.25rem;
  text-align: center;
  text-decoration: none;
}

$paths: ecological-risk-assessments $ecological-risk-assessments-palette,
contaminated-site-cleanup $contaminated-site-cleanup-palette,
other-decision-making-contexts $other-decision-making-contexts-palette;
$hues: 50 200 400 600 800 100 300 500 700 900;

@each $path in $paths {
  a.#{nth($path,1)}, a.#{nth($path,1)}:visited, h4.#{nth($path,1)} {
    background: mat.get-color-from-palette(nth($path, 2), 500);
    color: mat.get-contrast-color-from-palette(nth($path, 2), 500);
    svg path {
      fill: mat.get-contrast-color-from-palette(nth($path, 2), 500);
    }
  }

  @for $i from 1 through length($hues) {
    $contrast: #{nth($hues,$i)}+'-contrast';
    div.#{nth($path,1)}-#{$i},
    div.#{nth($path,1)}-#{$i + 10},
    div.#{nth($path,1)}-#{$i + 20},
    div.#{nth($path,1)}-#{$i + 30} {
      background: mat.get-color-from-palette(nth($path, 2), nth($hues, $i));
      color: mat.get-contrast-color-from-palette(nth($path, 2), nth($hues, $i));
    }
  }
}
