@use '@angular/material' as mat;
@use '@angular/material/theming' as theming;
@import 'theme.scss';

app-progress-bar svg {
  max-height: 36px !important;
}

app-root {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
}

mat-card-content a {
  font-weight: bold !important;
}

mat-card, mat-dialog-container {
  background-color: white;
  border: 1px solid;
  border-radius: 1em;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

button.mat-flat-button, button.mat-raised-button {
  font-family: Source Sans Pro Web, "Noto Sans Arabic", "Noto Sans BN homepage", "Noto Sans GU homepage", "Noto Sans KR homepage", "Noto Sans SC homepage", "Noto Sans BN", "Noto Sans GU", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "Helvetica Neue", Helvetica, Arial, sans;
  font-size: 1.06rem;
  line-height: .9;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-right: .5rem;
  padding: .75rem 1.25rem;
  text-align: center;
  text-decoration: none;
}

.mat-button-disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
}

$paths: ecological-risk-assessments $ecological-risk-assessments-palette,
contaminated-site-cleanup $contaminated-site-cleanup-palette,
other-decision-making-contexts $other-decision-making-contexts-palette;
$hues: 100 200 300 400 500 700 900;

@each $path in $paths {

  $base-color: mat.get-color-from-palette(nth($path, 2), 500);
  $base-light-color: mat.get-color-from-palette(nth($path, 2), 400);
  $base-extra-light-color: mat.get-color-from-palette(nth($path, 2), 100);
  $base-dark-color: mat.get-color-from-palette(nth($path, 2), 900);
  $contrast-color: mat.get-contrast-color-from-palette(nth($path, 2), 500);



  .#{nth($path,1)} .usa-step-indicator__segment--complete {
    &::before {
      background-color: $base-dark-color;
      //color: color($step-indicator-background-color);
    }
  }

  .#{nth($path,1)} .usa-step-indicator__segment--current {
    &::before {
      background-color: $base-color;
      //color: color($step-indicator-background-color);
    }
  }

  .#{nth($path,1)} .usa-step-indicator__segment--current {
    &::after {
      background-color: $base-color;
    }
    .usa-step-indicator__segment-label {
      color: $base-color;
    }
  }

  .#{nth($path,1)} .usa-step-indicator__segment--complete {
    &::after {
      background-color: $base-dark-color;
    }
    .usa-step-indicator__segment-label {
      color: $base-dark-color;
    }
  }

  a.#{nth($path,1)},
  a.#{nth($path,1)}:visited,
  h4.#{nth($path,1)},
  div.grid div.#{nth($path,1)},
  mat-accordion mat-expansion-panel-header.#{nth($path,1)} {
    background: $base-color !important;
    color: $contrast-color;

    svg path {
      fill: $contrast-color;
    }
  }

  h4.#{nth($path,1)} {
    border-radius: 1em;
  }

  div.grid div.#{nth($path,1)}-light {
    background: mat.get-color-from-palette(nth($path, 2), 50);
  }

  ##{nth($path,1) + '-button'} {
    flex: 1 1 100%;
    width: 80%;
    line-height: 20px;
    font-size: large;
    font-weight: bold;
    white-space: normal;
    padding-top: 0 !important;
    padding-bottom: 25px;
    margin-bottom: 25px;
    text-align: center;
    border-radius: 14px; //2em;
    height: 286px;
    max-width: 256px !important;
    margin-left: auto;
    margin-right: auto;
    color: $contrast-color;

    svg path {
      fill: $contrast-color;
    }

    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
    font-family: sans-serif;
    box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, .6),
    inset 0 0 5px 0 rgba(0, 0, 0, .8),
    inset 0 0 3px 4px rgba(0, 0, 0, .05),
    inset 0 0 5px 0 rgba(0, 0, 0, .2),
    2px 2px 4px 0 rgba(0, 0, 0, .25);

    :before, :after {
      content: '';
      display: block;
      position: absolute;
      left: 8px;
      right: 8px;
      height: 4px;
    }

    :before {
      top: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background: rgba(255, 255, 255, .4);
      box-shadow: 0 1px 2px 0 rgba(255, 255, 255, .6);
    }

    :after {
      bottom: 0;
      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
      background: rgba(0, 0, 0, .15);
      box-shadow: 0 -1px 2px 1px rgba(0, 0, 0, .15);
    }

    background-color: $base-color;

    &:hover {
      background-color: $base-light-color !important;
    }

    &:active {
      position: relative;
      top: 1px;
    }

    img {
      fill: white;
      width: 90%;
      padding-bottom: 15px;
      margin-top: 15px;
      height: 216px;
    }
  }


  @for $i from 1 through length($hues) {
    $contrast: #{nth($hues,$i)}+'-contrast';
    div.#{nth($path,1)}-#{$i} {
      background: mat.get-color-from-palette(nth($path, 2), nth($hues, $i));
      color: mat.get-contrast-color-from-palette(nth($path, 2), nth($hues, $i));
    }
  }
}

.usa-step-indicator__segment a {
  text-decoration: none;
}
