@use '@angular/material' as mat;

@include mat.core();

$ecological-risk-assessments-palette: (
    50 : #f1f4f7,
    100 : #8da2c0,
    200 : #8da2c0,
    300 : #5f7ca6,
    400 : #3c6093,
    500 : #1a4480,
    600 : #173e78,
    700 : #13356d,
    800 : #0f2d63,
    900 : #081f50,
    A100 : #85a4ff,
    A200 : #527eff,
    A400 : #1f58ff,
    A700 : #0546ff,
    contrast: (
      50 : rgba(black, 0.87),
      100 : rgba(black, 0.87),
      200 : rgba(black, 0.87),
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : rgba(black, 0.87),
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
    )
);

$contaminated-site-cleanup-palette: (
    50 : #fff7e6,
    100 : #ffecc0,
    200 : #ffdf97,
    300 : #ffd26d,
    400 : #ffc23a,
    500 : #ffa829,
    600 : #ff9912,
    700 : #D98202,
    800 : #B36A00,
    900 : #B36A00,
    A100 : #ffffff,
    A200 : #fffcf9,
    A400 : #ffe5c6,
    A700 : #ffd9ad,
    contrast: (
      50 : rgba(black, 0.87),
      100 : rgba(black, 0.87),
      200 : rgba(black, 0.87),
      300 : rgba(black, 0.87),
      400 : rgba(black, 0.87),
      500 : rgba(black, 0.87),
      600 : rgba(black, 0.87),
      700 : rgba(black, 0.87),
      800 : rgba(black, 0.87),
      900 : rgba(black, 0.87),
      A100 : rgba(black, 0.87),
      A200 : rgba(black, 0.87),
      A400 : rgba(black, 0.87),
      A700 : rgba(black, 0.87),
    )
  );

$other-decision-making-contexts-palette: (
    50 : #f4f7f4,
    100 : #cad9cc,
    200 : #a6c0aa,
    300 : #82a688,
    400 : #68936f,
    500 : #4d8055,
    600 : #46784e,
    700 : #3d6d44,
    800 : #34633b,
    900 : #25502a,
    A100 : #96ffa3,
    A200 : #63ff76,
    A400 : #30ff4a,
    A700 : #17ff33,
    contrast: (
      50 : rgba(black, 0.87),
      100 : rgba(black, 0.87),
      200 : rgba(black, 0.87),
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : rgba(black, 0.87),
      A200 : rgba(black, 0.87),
      A400 : rgba(black, 0.87),
      A700 : rgba(black, 0.87),
    )
  );



// Define the ecological-risk-assessments theme
$light-primary: mat.define-palette($ecological-risk-assessments-palette, 500, 100, 800);
$light-accent: mat.define-palette($ecological-risk-assessments-palette, A400, A100, A700);
$ecological-risk-assessments-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  )
));

// Define the contaminated-site-cleanup theme
$light-primary: mat.define-palette($contaminated-site-cleanup-palette, 500, 100, 800);
$light-accent: mat.define-palette($contaminated-site-cleanup-palette, A400, A100, A700);
$contaminated-site-cleanup-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  )
));

// Define the other-decision-making-contexts theme
$light-primary: mat.define-palette($other-decision-making-contexts-palette, 500, 100, 800);
$light-accent: mat.define-palette($other-decision-making-contexts-palette, A400, A100, A700);
$other-decision-making-contexts-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  )
));

@include mat.core-theme($ecological-risk-assessments-theme);

@include mat.button-theme($ecological-risk-assessments-theme);
@include mat.checkbox-theme($ecological-risk-assessments-theme);
@include mat.dialog-theme($ecological-risk-assessments-theme);

.ecological-risk-assessments {
  @include mat.core-color($ecological-risk-assessments-theme);
  @include mat.button-color($ecological-risk-assessments-theme);
  @include mat.checkbox-color($ecological-risk-assessments-theme);
  @include mat.dialog-color($ecological-risk-assessments-theme);
}

.contaminated-site-cleanup {
  @include mat.core-color($contaminated-site-cleanup-theme);
  @include mat.button-color($contaminated-site-cleanup-theme);
  @include mat.checkbox-color($contaminated-site-cleanup-theme);
  @include mat.dialog-color($contaminated-site-cleanup-theme);
}

.other-decision-making-contexts {
  @include mat.core-color($other-decision-making-contexts-theme);
  @include mat.button-color($other-decision-making-contexts-theme);
  @include mat.checkbox-color($other-decision-making-contexts-theme);
  @include mat.dialog-color($other-decision-making-contexts-theme);
}
